*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    }

/* epalPage2 */
.epalPage2{
    height: 100%;
    overflow: auto;
    position: relative;
}

.page2Wrapper{
    width: 100%;
    background-position: 50%;
    background-size: cover;
}

.content{
    padding: 100px 20px;
}

.title{
    margin-bottom: 24px;
    line-height: 1;
    font-size: 24px;
    font-weight: 500;
}

/* page2Loading */
.page2Loading{
    position: relative;
}

.page2Container{
    transition: opacity .3s;
}

.addForm{
    width: 100%;
}

.desc{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 12px;
    color: #c4c3e6;
    margin-bottom: 24px;
}

/* form */
/* State */
.formMain p{
    font-size: 12px;
    color: #c4c3e6;
    margin-bottom: 0.2rem !important;
}

.form-select{
    font-size: 12px !important;
    color: white !important;
    background-color: #302F3D !important;
    border: 0.5px solid #ced4da !important;
    margin-bottom: 1.5rem !important;
}

/* Price */

.col-12-2{
    flex: 60% !important;
}

.input-group .form-control{
    font-size: 12px !important;
    color: white !important;
    background-color: #302F3D !important;
    border: 0.5px solid #ced4da !important;
    margin-bottom: 1.5rem !important;
}

.input-group-text{
    background-color: #302F3D !important;
    border: 0.5px solid #ced4da !important;
    margin-bottom: 1.5rem !important;
}

.input-group-text img{
    width: 20px;
    height: 20px;
}

.servicePriceQue{
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 10px;
    right: -35px; */
    flex: 1;
    display: contents;
}

.servicePriceQue .icon{
    width: 20px;
    height: 20px;
    font-size: 12px;
    background: #302F3D;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.formLine{
    margin-bottom: 24px;
    border-top: 1px solid #4F4E60;
    width: 100%;
    margin-top: 20px;
}

/* footer */

.buttonWrapper{
    display: flex;
}

.preButtonWrapper{
    display: inline-block;
    margin: 0 23px 24px 0;
}

.preButtonWrapperGrey{
    position: relative;
    border: 0;
    outline: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 150px;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    background: #21212C;
    background-size: 100%;
    border-radius: 400px;
}

.nextButtonWrapper{
    display: inline-block;
    margin: 0 23px 24px 0;
}

.nextButtonWrapperGrey{
    position: relative;
    border: 0;
    outline: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 150px;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid grey;
    background: transparent;
    background-size: 100%;
    border-radius: 400px;
}

.nextButtonWrapperGrey span{
    color: grey;
}